body {
    background-color: black;
}

nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .orange
{
    color: #ff6600;
}
nav .navbar-brand .red
{
    color: #ff4d4d;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #ace600;
}

main .form-control
{
    /* Center form controls */
    display: inline-block;

    /* Override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    /* Scroll horizontally as needed */
    overflow-x: auto;

    /* Center contents */
    text-align: center;
}

main img
{
    /* Constrain images on small screens */
    max-width: 100%;
    background-color: black;
}

tr{
    width: min-content;
    height: min-content;
}



h2{
    color: white;
    font-size: medium;
    margin-top:2%;
}

table {
    text-align: center;
}
#emotion{
    width: 10%;
    height: 10%;
}

.btn-emotion {
    width:20ch;
    height:20ch;
    border-radius: 30%;
    border-color: black;
    padding: 0%;
    background-color: black;
    margin-top: 10%;

}
.activity-btn {
    border-radius: 100%;
    border-color: green;
    background-color:black;
    margin:auto;

}
.activity-btn:hover{
    border-color: white;
}
.activity-img{
    width:25%;
    height:40%;
    background-color: black;
}
.activitiy-input{
  display: inline-block;
  float: left;
  /*width:20%; */
}

.btn-emotion:hover{
    border-color: white;
}

.emotion-img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}
h1 {
    color: white;
    font-size: large;
    font-weight: bold;
}
#saveForm{
    width: 10%;
    height: 10%;
}
.btn-entries {
    background-color: cornflowerblue;
}


ul {
  list-style-type: none;
}

li {
  display: inline-block;
}

 input[type="checkbox"][id^="cb"] {
  display: none;
}


label {
  border: 1px solid #fff;
  padding: 10px;
  display: block;
  position: relative;
  margin: 10px;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

label::before {
  background-color: white;
  color: white;
  content: " ";
  display: block;
  border-radius: 50%;
  border: 1px solid grey;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 28px;
  transition-duration: 0.4s;
  transform: scale(0);
}

label img {
  height: 100px;
  width: 100px;
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
}

:checked+label {
  border-color: #ddd;
}

:checked+label::before {
  content: "✓";
  background-color: blue;
  transform: scale(1);
}

:checked+label img {
  transform: scale(0.9);
  box-shadow: 0 0 5px #333;
  z-index: -1;
}

i{
    width:10%;
    height:10%;
}
hr{
    color:gray;
    font-size:10px;
}


#range {
    display: block;
    font-size: 12px;
    font-family: sans-serif;
    font-weight: 600;
    color: #444;
    line-height: 1.3;
    padding: .3em 1.4em .3em .8em;
    margin: 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .5em;
    background-color: #fff;
}


.accordion {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}


.rankings {
    display: inline-block;
    text-align: left;
    border: 1px solid #aaa;
    padding: .3em 1.4em .3em 2.4em;
    border-radius: .5em;
}


#ranks {
    display: list-item;
    text-align: left;
    color: #fff;
}

footer {
    margin-bottom: 5%;
    color: #fff;
}

.br3 {
    margin-top: 60px;
    margin-bottom: 60px;
}

.slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 31px;
  height: 31px;
  border: 0;
  background: url('/static/icons/Sleep/sleep_icon.png');
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 31px;
  height: 31px;
  border: 0;
  background: url('/static/icons/Sleep/sleep_icon.png');
  cursor: pointer;
}

.sleep {
  color: white;
}

.history {
    display: inline-block;
    text-align: center;

}

.history_scores {
  color: white;

}

.progress {
  width: 150px;
  height: 150px;
  background: none;
  position: relative;
}

.progress::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 6px solid #eee;
  position: absolute;
  top: 0;
  left: 0;
}

.progress>span {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
  text-align:center;
}

.progress .progress-left {
  left: 0;
}

.progress .progress-bar {
  width: 100%;
  height: 100%;
  background: none;
  border-width: 6px;
  border-style: solid;
  position: absolute;
  top: 0;
}

.progress .progress-left .progress-bar {
  left: 100%;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  border-left: 0;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}

.progress .progress-right {
  right: 0;
}

.progress .progress-right .progress-bar {
  left: -100%;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  border-right: 0;
  -webkit-transform-origin: center right;
  transform-origin: center right;
}

.progress .progress-value {
  position: absolute;
  top: 0;
  left: 0;
}

.current-habit{
    margin-left:auto;
}
.progress-text{
    color:white;
    font-size:x-large;
    font-weight:bold;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  border:none;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider2 {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider2:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider2 {
  background-color: #2196F3;
}

input:focus + .slider2 {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider2:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider2.round {
  border-radius: 34px;
}

.slider2.round:before {
  border-radius: 50%;
}

.privacy {
  color: white;
}


h3 {
  color: white;
  font-size: small;
}

.logo-image{
    width: 46px;
    height: 46px;
    margin-top: -6px;
}

canvas {
  width:  100%;
  height: 100%;
}

/*Inspired by https://www.w3schools.com/css/tryit.asp?filename=trycss_table_fancy*/
#rank {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 50%;
}

#rank td, #rank th {
  border: 1px solid #ddd;
  padding: 8px;
}

#rank tr:nth-child(even){background-color: #262626;}

#rank tr:hover {background-color: #1f1f2e;}

#rank th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgba(255, 180, 193, 0.6);
  color: white;
}

.cb1 {
   color: green;
   font-weight: bold;
}

.cb2 {
   color: crimson ;
   font-weight: bold;
}

.cb3 {
   color: teal ;
   font-weight: bold;
}

h5 {
  font-family: 'Almendra Display';
  color: white;
  font-size: xx-large;
  text-decoration: underline;
}
