nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .theme-color
{
    color: #D75700;
}


main .form-control
{
    /* Center form controls */
    display: inline-block;

    /* Override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    /* Scroll horizontally as needed */
    overflow-x: auto;

    /* Center contents */
    text-align: center;
}

main img
{
    /* Constrain images on small screens */
    max-width: 100%;
}

.accordion
{
    margin-top: 5%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.btn
{
    background-color: #66002B;
}

.form-control:focus {
    border-color: #66002B;
    box-shadow: 0 0 5px #66002B;
}