{% extends "layout.html" %}

{% block title %}
    Activity Stats
{% endblock %}
{% block main %}
  <center>
    <h1>Your favorite activities</h1>
    <canvas id="bars" width="600" height="400"></canvas>

    <div class="br3"></div>

    <h1>Activities that contribute the most to you happiness</h1>
    <ol type="1" class="rankings">
      {% for act in best %}
        <li id="ranks">{{ act }}</li>
        <br>
      {% endfor %}
    </ol>

    <div class="br3"></div>

    <h1>Activities that contribute the least to you happiness</h1>
    <ol type="1" class="rankings">
      {% for act in worst %}
        <li id="ranks">{{ act }}</li>
        <br>
      {% endfor %}
    </ol>
    <div class="br3"></div>
    <footer class="text-muted" style="margin-bottom: 0;">**Improve data accuracy with more entries**</footer>
    <script>
      // From https://blog.ruanbekker.com/blog/2017/12/14/graphing-pretty-charts-with-python-flask-and-chartjs/
      Chart.defaults.global.animationSteps = 50;
      Chart.defaults.global.animationEasing = "easeOutBounce";
      Chart.defaults.global.responsive = false;

        // Get bar data
      var barData = {
          labels : [
            {% for item in activities %}
              "{{ item }}",
            {% endfor %}
          ],

          datasets : [{
            label: 'Most frequent activities',
            backgroundColor: "rgba(255, 180, 193, 0.4)",

            data : [
              {% for item in freq %}
                {{ item }},
              {% endfor %}]
            }]
      }

        // get bar chart canvas
      var Bars = document.getElementById("bars").getContext("2d");

      var plot = new Chart(Bars, {
          type: 'bar',
          data: barData,
          options: {
            title:{
              display: false,
            },
            tooltips: {
                mode: 'nearest'
            },
            scales: {
              xAxes: [{
                gridLines: {
                  color: "rgba(255,255,255, 0.2)",
                }
              }],
              yAxes: [{
                ticks: {
                  beginAtZero: true,
                },
                gridLines: {
                  color: "rgba(255,255,255, 0.2)",
                }
              }]
            }
          }
      });
    </script>
  </center>
{% endblock %}
