{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
     {% if isChanged %}
        <div class="alert alert-success border text-center" role="alert">
            {{ alert }}
        </div>
    {% else %}
    <form action="/change-password" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="oldPassword" placeholder="Old Password" type="password">
        </div>
        <div class="form-group">
            <input class="form-control" name="newPassword" placeholder="New Password" type="password">
        </div>
        <div class="form-group">
            <input class="form-control" name="confirmNewPassword" placeholder="Confirm New Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Save Changes</button>
    </form>
    {% endif %}
{% endblock %}
