{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <!-- {% if alert != "" %}
    <div class="alert alert-primary border text-center" role="alert">
        {{ alert }}
    </div>
    {% endif %} -->
    <!-- <form action="/index" method="post"> -->
        
        <button class="activity-btn" name="btn-emotion" width="10%" height="10%" value=1><i><img class="activity-img" width="10%" height="10%" src="/static/emotion_icons/sports.png" onclick="document.getElementsByClassName('activity-img').style.background='#00FF00';"></img></i><h2  style="color:red;">Sports</h2></button>
    <!-- </form> -->
{% endblock %}
