{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <h2>Select Range to Display</h2>
    <br>
    <form action="/overall_fig" method="get">
        <div class="form-group">
            <select name="sport">
                <option disabled selected value="">Select Range</option>
                <option value="ALL">All</option>
                <option value="MONTH">Last Month</option>
                <option value="WEEK">Last Week</option>
            </select>
            <button class="btn btn-primary" type="submit">Show!</button>
        </div>
    </form>
    <div>
        {{ test }}
    </div>
{% endblock %}