{% extends "layout.html" %}

{% block title %}
    Preferences
{% endblock %}

{% block main %}
  <h1>What do you wish to keep track of? </h1>

  <script>
    var items = document.querySelectorAll( ".preferences li");
    var result = "";

  </script>
  <form action="/preferences" method="post">

  <ul>

 {% for prefs in prefs %}

      <li><input type="checkbox" name="cb" id="cb{{ prefs.category_id }}" value={{ prefs.category_id }}  {% for currentPrefs in currentPrefs %}{% if prefs.category_id==currentPrefs.preference_id %}checked{% endif %}{% endfor %} />
        <label for="cb{{ prefs.category_id }}"><img src="/static/icons/Categories/{{ prefs.category_name }}.png" />
        <h2  style="color:white;">{{ prefs.category_name }}</h2></label>
      </li>
 {% endfor %}


  </ul>
{% for privacy in privacy %}
<label div class="switch">
  <input type="checkbox" name="privacy"  {% if privacy.keep_private=="on" %}checked{% endif %} />
  <span class="slider2 round"></span>
</label>
<span class="privacy">Please keep my information private</span
<p></p>
{% endfor %}
 <div>  <button class="btn btn-primary" valuetype="submit" type="Submit">Submit</button></div>
 </form>
{% endblock %}
