{% extends "layout.html" %}

{% block title %}
    Social
{% endblock %}
{% block main %}
  <center>
    <h3>**This page displays the activities performed most often by other users and those contributing most to their emotions. See how you compare!**</h3>
    <hr>
    <h1>People's favorite activities</h1>
    <canvas id="bars" width="600" height="400"></canvas>

    <div class="br3"></div>

    <h1>Activities that contribute the most to people's happiness</h1>
    <hr>
    <table class="table table-striped" id="rank">
      <thead>
          <tr class="history_scores">
              <th>Rank</th>
              <th>Activity</th>
          </tr>
      </thead>
      <tbody>
        {% for act in best %}
          <tr class="history_scores">
            <td>{{ loop.index }}</td>
            <td>{{ act }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <!--<ol type="1" class="rankings">-->
    <!--  {% for act in best %}-->
    <!--    <li id="ranks">{{ act }}</li>-->
    <!--    <br>-->
    <!--  {% endfor %}-->
    <!--</ol>-->

    <div class="br3"></div>

    <h1>Activities that contribute the least to people's happiness</h1>
    <hr>
    <table class="table table-striped" id="rank">
      <thead>
          <tr class="history_scores">
              <th>Rank</th>
              <th>Activity</th>
          </tr>
      </thead>
      <tbody>
        {% for act in worst %}
          <tr class="history_scores">
            <td>{{ loop.index }}</td>
            <td>{{ act }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="br3"></div>
    <h1>People sleep <span style="color: #ace600">{{ average }}</span> hours on average</h1>
    <div class="br3"></div>
    <footer class="text-muted" style="margin-bottom: 0;">**Based on Happy Track user's input**</footer>
    <script>
      // From https://blog.ruanbekker.com/blog/2017/12/14/graphing-pretty-charts-with-python-flask-and-chartjs/
      Chart.defaults.global.animationSteps = 50;
      Chart.defaults.global.animationEasing = "easeOutBounce";
      Chart.defaults.global.responsive = false;

        // Get bar data
      var barData = {
          labels : [
            {% for item in activities %}
              "{{ item }}",
            {% endfor %}
          ],

          datasets : [{
            label: 'Most frequent activities',
            backgroundColor: "rgba(255, 180, 193, 0.4)",

            data : [
              {% for item in freq %}
                {{ item }},
              {% endfor %}]
            }]
      }

        // get bar chart canvas
      var Bars = document.getElementById("bars").getContext("2d");

      var plot = new Chart(Bars, {
          type: 'bar',
          data: barData,
          options: {
            title:{
              display: false,
            },
            tooltips: {
                mode: 'nearest'
            },
            scales: {
              xAxes: [{
                gridLines: {
                  color: "rgba(255,255,255, 0.2)",
                }
              }],
              yAxes: [{
                ticks: {
                  beginAtZero: true,
                },
                gridLines: {
                  color: "rgba(255,255,255, 0.2)",
                }
              }]
            }
          }
      });
    </script>
  </center>
{% endblock %}