{% extends "layout.html" %}

{% block title %}
    Stats
{% endblock %}
{% block main %}
<!--From https://blog.ruanbekker.com/blog/2017/12/14/graphing-pretty-charts-with-python-flask-and-chartjs/-->
  <center>
    <h1>{{ title }}</h1>
    <form action='/stats' method='get'>
      <select name="range" id="range" onchange="this.form.submit()" method="get">
        <option disabled selected="selected">Change Range</option>
        <option value="7">Last Week</option>
        <option value="30">Last Month</option>
        <option value="365">Last Year</option>
      </select>
    </form>
    <br>
    <canvas id="chart" width="600" height="400"></canvas>

    <div class="br3"></div>

    <h1>Your favorite activities</h1>
    <canvas id="bars" width="600" height="400"></canvas>

    <div class="br3"></div>

    <h1>Activities that contribute the most to you happiness</h1>
    <ol type="1" class="rankings">
      {% for act in best %}
        <li id="ranks">{{ act }}</li>
        <br>
      {% endfor %}
    </ol>

    <div class="br3"></div>

    <h1>Activities that contribute the least to you happiness</h1>
    <ol type="1" class="rankings">
      {% for act in worst %}
        <li id="ranks">{{ act }}</li>
        <br>
      {% endfor %}
    </ol>
    <div class="br3"></div>

    <footer class="text-muted" style="margin-bottom: 0;">**Improva data accuracy with more entries**</footer>
    <script>
      // Line chart data
      var lineData = {
          labels : [
            {% for item in labels %}
              "{{ item }}",
            {% endfor %}
          ],

          datasets : [{
            label: ' Overall Happiness',
            borderColor: "rgba(151,187,205,1)",
            backgroundColor: "rgba(151,187,205,0.2)",
            strokeColor: "rgba(151,187,205,1)",
            pointColor: "rgba(151,187,205,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(151,187,205,1)",
            bezierCurve : false,
            pointBackgroundColor: "#fff",

            data : [
              {% for item in values %}
                {{ item }},
              {% endfor %}]
            }]
      }

      Chart.defaults.global.animationSteps = 50;
      Chart.defaults.global.animationEasing = "easeOutBounce";
      Chart.defaults.global.responsive = false;

        // get line chart canvas
      var mychart = document.getElementById("chart").getContext("2d");

        // draw line chart
      var LineChartDemo = new Chart(mychart, {
          type: 'line',
          data: lineData,
          options: {
            title:{
              display: false,
            },
            tooltips: {
                mode: 'nearest'
            },
            scales: {
              xAxes: [{
                gridLines: {
                  color: "rgba(255,255,255, 0.2)",
                }
              }],
              yAxes: [{
                ticks: {
                  beginAtZero: true,
                  steps: 5,
                  stepValue: 1,
                  max: 5
                },
                gridLines: {
                  color: "rgba(255,255,255, 0.2)",
                }
              }]
            }
          }
      });

        // Get bar data
      var barData = {
          labels : [
            {% for item in activities %}
              "{{ item }}",
            {% endfor %}
          ],

          datasets : [{
            label: 'Most frequent activities',
            backgroundColor: "rgba(255, 180, 193, 0.4)",

            data : [
              {% for item in freq %}
                {{ item }},
              {% endfor %}]
            }]
      }

        // get line chart canvas
      var Bars = document.getElementById("bars").getContext("2d");

      var plot = new Chart(Bars, {
          type: 'bar',
          data: barData,
          options: {
            title:{
              display: false,
            },
            tooltips: {
                mode: 'nearest'
            },
            scales: {
              xAxes: [{
                gridLines: {
                  color: "rgba(255,255,255, 0.2)",
                }
              }],
              yAxes: [{
                ticks: {
                  beginAtZero: true,
                },
                gridLines: {
                  color: "rgba(255,255,255, 0.2)",
                }
              }]
            }
          }
      });
    </script>
  </center>
{% endblock %}
